.candy-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 40%;
    
}
.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:50px;
}
.scoreBoard{
    padding: 20px;
    color: wheat;
    width: 200px;
    font-size: large;
    font-weight: 700;
    text-align: left;
}
.score-container{
    background-color: transparent;
    box-shadow: 0px 0px 10px pink;
}